.Navconteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.ButtonsConteiner button {
  padding: 15px;
  border-radius: 15px;
  cursor: var(--cursor-pointer);
}

.DropMenu {
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  transform: translateY(-500px);
  transition: opacity var(--transition-speed) ease-out,
    transform var(--transition-speed) ease;
  z-index: 100;
  background-color: var(--menu-bg-color);
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
}

.DropMenu.NavVisible {
  opacity: 1;
  transform: translateY(0);
  height: auto;
  margin-top: 20px;
  background-color: var(--primary-color);
}

.DropMenu ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
}

.DropMenu li {
  padding: var(--gap-size);
  height: 100%;
  position: relative;
}

.Links {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed) ease;
}

.Links:hover,
.Links:focus {
  background-color: var(--hover-bg-color);
}

.Icons {
  width: 30px;
  height: 30px;
}

.Navconteiner button {
  background-color: transparent;
  border: none;
}

@media (max-width: 750px) {
  .Navconteiner {
    display: flex;
  }
}

.NavContent.NavVisible {
  display: flex;
  flex-direction: column;
}
