.MesasSectionContainer {
  display: flex;
  height: calc(100vh - 80px);
}

.SectionContainer,
.Section a {
  height: 100%;
  width: 100%;
}

.NavSections {
  display: flex;
  align-items: start;
  justify-content: center;
  position: fixed;
  height: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 0% 0px 2%;
  background-color: #050505;
}

.MesasContainer {
  flex: 1;
  flex-wrap: wrap;
}

.SectionContainer {
  display: flex;
  flex: 8;
  list-style: none;
  gap: 20px;
}

.SectionContainer li {
  display: flex;
  border-radius: 0px 0px 10px 10px;
}

.PanelControlDeSections {
  display: flex;
  flex: 2;
  justify-content: start;
  padding: 1%;
  gap: 10px;
}

.PanelControlDeSections button {
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #272727;
}

.Icons {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.AddSectionButton:hover {
  background-color: #4d721a;
}

.EditSectionButton:hover {
  background-color: #aa6024;
}
.DeleteSectionButton:hover {
  background-color: #922222;
}

.Section {
  gap: 5px;
  transition: background-color 500ms ease;
}

.Section a {
  color: #0c0101;
  text-decoration: none;
  padding: 30px;
  color: white;
}

.Section.active {
  background-color: #272727;
  border-top: #4d721a 2px solid;
}
