.MesasSectionContainer {
  display: flex;
  height: calc(100vh - 160px);
}

.SectionContainer,
.Section a {
  height: 100%;
  width: 100%;
}

.NavSections {
  display: flex;
  align-items: start;
  justify-content: center;
  position: fixed;
  height: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 0% 0px 2%;
  background-color: #2b2b2b;
  z-index: 1;
}

.MesasContainer {
  flex: 1;
  flex-wrap: wrap;
}

.SectionContainer {
  display: flex;
  flex: 8;
  list-style: none;
  gap: 10%;
}

.SectionContainer li {
  display: flex;
  border-radius: 0px 0px 10px 10px;
}

.Icons {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background-color: #272727;
}

.Section {
  gap: 10%;
  transition: background-color 500ms ease;
}

.Section a {
  color: #0c0101;
  text-decoration: none;
  padding: 20px;
  color: white;
}

.Section.active {
  background-color: #272727;
  border-top: #4d721a 2px solid;
}

.PanelButtonsContainer {
  display: flex;
  flex: 2;
  justify-content: start;
  align-items: start;
  gap: 10%;
  padding: 5px;
}

.DropButton {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 10px;
}

.DropMenu {
  position: absolute;
  display: none;
  height: auto;
  left: 5%;
  flex-direction: row;
  background-color: #2b2b2b;
  gap: 20px;
  border: none;
  padding: 10px;
  z-index: 2; /* Asegura que el menú esté encima del botón */
}

.NavVisible {
  display: flex;
}

.DropItem {
  padding: 5px;
  cursor: pointer;
}

.DropItem:last-child {
  border-bottom: none; /* Elimina el borde inferior del último elemento */
}

@media (max-width: 900px) {
  .DropMenu {
    bottom: 100%;
  }
}
