.NavbarContent {
  display: flex;
  align-items: center;
  top: 0;
  height: 80px;
  padding: 0% 0%;
  background-color: #242424;
  z-index: 1;
  font-size: 20px;
  gap: 1%;
}

.LogoContainer {
  top: 3px;
  position: relative;
}

.Logo {
  width: 40px;
  height: 60px;
}

.NavLinks {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.NavbarContent li {
  padding: 0 10px;
}

.NavbarContent ul li:nth-child(6) {
  padding: 0 0px;
}

.Links {
  height: 100%;
  width: 100%;
  padding: 15px;
  transition: background-color 500ms ease;
  gap: 10px;
  border-bottom: solid 2px #888;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Icons {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  fill: #888;
}

.Links:hover,
.Links:focus {
  border-bottom: solid 2px white;
}

.Links:hover .Icons,
.Links:focus .Icons {
  fill: white;
}

/* Opciones de usuario para pantalla móvil */
.NavUserOptions {
  display: flex;
  background-color: #242424;
  width: 100%;
  left: 0;
  z-index: 1;
}

.NavVisible {
  display: flex;
}

/* Ajustes para NavMobileButton en modo móvil */
.NavMobileButton {
  display: none;
  padding: 15px;
}

.NavmobileitemHidden {
  display: none;
}

.NavmobileitemShow {
  display: flex;
}

@media (max-width: 700px) {
  .NavUserOptions {
    display: none;
  }

  .NavUserOptions {
    position: absolute;
    top: 80px;
  }

  .NavMobileButton {
    display: flex;
  }

  .NavVisible {
    display: flex;
    flex-direction: row;
    gap: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
    flex-wrap: wrap;
  }

  .Icons {
    width: 20px;
    height: 20px;
  }

  .LogoContainer {
    margin-right: 0%;
  }

  .Logo {
    width: 30px;
    height: 50px;
  }

  .NavmobileitemHidden {
    display: flex;
  }

  .NavmobileitemShow {
    display: none;
  }
}
@media (max-width: 700px) {
  .NavMobileButton {
    display: flex;
  }

  /* Ocultar elementos adicionales en pantallas pequeñas */
  .NavUserOptions.NavVisible {
    display: flex;
  }
}
