.MesasContainerTotal {
  display: flex;
  width: 100%;
  height: 100%;
}

.ContenedorMesas {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  flex: 7.5;
}

.PanelControlDeMesas {
  background-color: #181818;
  padding: 0px 0% 0% 2%;
}

.PanelControlDeMesas button {
  padding: 15px;
  margin: 20px 5px 5px 5px;
  height: 50px;
  text-align: start;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
  background-color: #070707;
  border: none;
}

.AddTablebutton:hover {
  background-color: #a5b68d;
}

.DeleteTablebutton:hover {
  background-color: #ad3737;
}

.Mesas {
  margin-top: 10px;
  display: flex;
  width: 100%;
  padding: 0px 0% 0% 2%;
  max-height: calc(100% - 200px);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
}

.Mesas button {
  display: flex;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #070707;
  text-align: start;
  justify-content: flex-start;
  align-items: start;
  width: 150px;
  height: 150px;
  padding: 10px 5px 10px 5px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  filter: brightness(80%);
  transition: ease 300ms;
}

.Mesas button:hover {
  filter: brightness(100%);
  opacity: 100%;
}

.selected {
  filter: brightness(100%);
  width: 100%;
}

.SpanContentTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  padding: 0px 0px 0px 10px;
}

.PanelDeComandaContainer {
  flex: 2.5;
}
.Spancontent {
  display: flex;
  gap: 10px;
}

.IconSpam {
  width: 30px;
  height: 30px;
}
